<form method="post" action="/thankyou">
    <p>
        Fill out this form to receive our newsletter.
    </p>
    <p>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />
    </p>
    <p>
        <button type="submit">Sign Up!</button>
    </p>
</form>
